/* ========================
   Google Fonts & External Icons
======================== */
@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-brands/css/uicons-brands.css");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Encode+Sans:wght@100..900&family=Graduate&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ========================
   Base Styles
======================== */
body {
  background: #f6f6f6;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

/* ========================
   Navbar
======================== */
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  position: sticky;
  top: 0px;
  background-color: rgb(241, 241, 241);
  backdrop-filter: blur(3px);
  border: 3px solid #0000009b;
  border-top: none;
  z-index: 10;
  padding: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 1em;
  height: 20px;
  font-size: 16px;
  font-family: "Inter Tight", serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  border: 1px solid #4d4d4d4e;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
  gap: 10px;
  text-decoration: none;
}

.navbar:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  border: 1px solid #263a3272;
}

.navbar:active {
  transform: translateY(-1px);
}

.navbar i {
  margin-top: 3px;
  font-size: 80%;
}

.fi {
  font-style: normal;
}

/* ========================
   Header
======================== */
.header {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  background-color: hsl(61, 92%, 60%);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* ========================
   Project Controls
======================== */
.project-controls {
  padding: 20px;
  background: #f5f5f5;
  border-radius: 8px;
  margin: 20px 0;
}

/* ========================
   Search Bar
======================== */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container i:nth-child(1) {
  position: relative;
  left: 30px;
  top: -10px;
  cursor: context-menu;
}

.search-container input {
  padding: 10px 40px;
  border: 1px solid #000;
  height: 25px;
  width: 30%;
  border-radius: 40px;
  margin-bottom: 15px;
  font-size: 15px;
}

.search-container .fa-close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: relative;
  left: -40px;
  top: -10px;
  padding-left: 1px;
  cursor: pointer;
}

.search-container .fa-close:hover {
  background-color: #e1e1e1;
  border-radius: 50%;
}

/* ========================
   Project Info & Links
======================== */
.counts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  
}

.ProjectInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 1rem;
  font-weight: 800;
  text-transform: capitalize;
  font-family: "Exo 2", sans-serif;
  background-color: #fff;
  padding: 15px;
  border: 2px solid;
  border-radius: 9px;
  text-decoration: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
}

.ProjectInfo:hover {
  cursor: context-menu;
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22),
    0 5px 14px 0 rgba(0, 0, 0, 0.18);
  transition: 0.1s ease;
  transform: scale(1.06);
}

.ProjectInfo > span::before {
  content: ": ";
}

.CodeUsed {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  font-family: "Prompt", sans-serif;
  text-align: center;
  margin: 30px;
}

.CodeUsed u {
  letter-spacing: 2px;
}

.CodeUsedLinks {
  text-decoration: wavy;
}

/* ========================
   Back to Top Button
======================== */
.top {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 9;
  padding: 10px;
  color: #fff;
  background: #000;
  border-radius: 100px;
  font-size: medium;
  letter-spacing: 2px;
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
}

.top:hover::before {
  content: "Back To";
  transition: all 1.5s ease;
  padding: 10px;
}

/* ========================
   Background Video
======================== */
#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: fill;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h2 {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* ========================
   Project Cards
======================== */
.projectCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 25px;
  border-radius: 10px;
  background: radial-gradient(
      178.94% 106.41% at 26.42% 106.41%,
      #fff7b1 0%,
      rgba(255, 255, 255, 0) 71.88%
    ),
    #ffffff;
  box-shadow: 0 0 10px 1px #000000;
}

.ProjectCards {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 10px 70px;
  font-size: 2rem;
}

.ProjectsList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 80px 50px;
}

.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 240px;
  padding: 20px;
  padding-right: 22px;
  border-radius: 12px;
  background: radial-gradient(
      178.94% 106.41% at 26.42% 106.41%,
      #fff7b1 0%,
      rgba(255, 255, 255, 0) 71.88%
    ),
    #ffffff;
  box-shadow: 0 0 10px 1px #000000;
  transition: transform 0.15s linear;
  overflow: hidden;
}

.projectCard:hover {
  transform: scale(1.04);
}

img {
  width: 100%;
  height: 160%;
  border: 3px inset black;
  border-radius: 1px;
  background-color: rgba(199, 199, 199, 0.691);
  transition: 0.4s ease;
}

.projectCard:hover .projectImg {
  height: 100%;
}

.projectTitle {
  width: 160px;
  height: 100px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 100px;
  padding: 0 5px;
  transition: 0.4s ease;
}

.projectCard:hover .projectTitle {
  top: 20px;
}

/* ========================
   Buttons
======================== */
.demoViewBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  gap: 10px;
}

/* From Uiverse.io by alexroumi */
.res-view {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 55px;
  padding: 13px;
  height: 8px;
  border: unset;
  border-radius: 8px;
  color: #212121;
  z-index: 1;
  border: 1px solid #000;
  background: #ffffff;
  position: relative;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-wrap: nowrap;
  font-size: 10px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  top: 80px;
  transition: 0.4s ease;
}
.res-view::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #2196f3;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.projectCard:hover .res-view {
  top: 0;
}

.res-view:hover {
  color: #e8e8e8;
}

.res-view:hover::before {
  width: 100%;
}

/* ========================
   Footer
======================== */
footer {
  background-color: #2e4b68;
  color: #ecf0f1;
  padding-bottom: 10px;
  font-family: "Inter Tight", sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 50px auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-section h3 {
  color: #3498db;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #3498db;
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-links a {
  color: #ecf0f1;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  padding-bottom: 10px;

}

.social-links a:hover {
  color: #3498db;
}

.footer-bottom {
  text-align: center;
  border-top: 2px solid #26303c;
}

/* ========================
   Responsive Media Queries
======================== */
@media (min-width: 400px) and (max-width: 768px) {
  * {
    font-size: 12px;
  }

  .CodeUsed > u {
    font-size: 1.39rem;
  }

  .projectTitle {
    width: 100px;
    font-size: 12px;
    top: 80px;
  }

  .projectCard {
    width: 130px;
    height: 200px;
  }


  .res-view {
    font-size: 10px;
  }

  .header {
    font-size: 20px;
  }

  .navbar {
    height: 1px;
  }

  .fi,
  .fi > span {
    font-size: 8px;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .navbar {
    width: 30px;
    flex-direction: column;
    align-items: center;
  }

  .navbar > span {
    display: none;
  }

  .projectImg {
    width: 100%;
    height: 100%;
  }

  .projectTitle {
    top: 20px;
  }

  .res-view {
    top: 0px;
  }
}
